<%# WATCH OUT make sure you don't add whitespace accidentally %>
<h1>You received new invoice</h1>

<p>Please download attachment and press pay link.</p>

<p>
  <a href="<%= new_payment_url(@invoice) %>" target="_blank">Pay!</a>
</p>